@model PartyInvites.Models.GuestResponse

@{
    ViewData["Title"] = "Thanks for Responding";
}

@Html.Partial("_Header")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1>Thank you @Model.Name</h1>
            <p>
            @if (Model.WillAttend == true)
            {
                    @:It's great that you're coming. The drinks are already in the fridge!
            }
            else
            {
                    @:Sorry to hear that you can't make it, but thanks for letting us know.
            }
            </p>
            <p>Click <a asp-action="Responses">here</a> to see who is coming.</p>
        </div>
    </div>
</div>